body {
	margin-top: 50px;
}

.container {
	max-width: 800px;
	margin: auto;
}

.form-group {
	margin-bottom: 1rem;
}

.table-responsive {
	margin-top: 1rem;
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0 15px;
	}
}
